<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cadastro de Modelo</title>
</head>
<body>
<h1>Cadastro de Modelo de Veículo</h1>
<form action="#" th:action="@{/salvarModelo}" th:object="${modelo}" method="post">
    <label>Nome do Modelo: <input type="text" th:field="*{nome}"/></label>
    <button type="submit">Salvar</button>
</form>
<h2>Modelos já cadastrados:</h2>
<table>
    <tr><th>Nome</th></tr>
    <tr th:each="modelo : ${modelos}">
        <td th:text="${modelo.nome}"></td>
    </tr>
</table>
</body>
</html>